<h2 class="text-center">SYSTEM MENU</h2>
<hr class="star-primary">
<br>
<div class="row mydashBoard">
	<div class="col-sm-4">
	</div>
	<div class="col-sm-2 menu-item">
    				<a href="#/viewcatalogue" class="menu-link">
    					<div class="caption">
    						<div class="caption-content">
    							<i class="fa fa-search-plus fa-3x"></i>
    							<div class="custom-text">View Catalogue</div>
    						</div>
    					</div>
    					<img src="images/view.png" class="img-responsive" alt="">
    				</a>
    			</div>
    			
	<div class="col-sm-2 menu-item">
		<a href="#/addbook" class="menu-link">
			<div class="caption">
				<div class="caption-content">
					<i class="fa fa-search-plus fa-3x"></i>
					<div class="custom-text">Add New Book to Catalogue</div>
				</div>
			</div>
			<img src="images/assess.png" class="img-responsive" alt="">
		</a>
	</div>
	
</div>